.input {
    &__wrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 1rem 0.5rem;
        
        &__field{

            color: black;
            border: 1px solid lightgray;
            font-size: 20px;
            font-weight: 500;
            border-radius: 4px;
            padding: 2px;
            
            ::placeholder {
                color: gray;
            }

            &--error{
                border: 1px solid red;
            }

        }

        &__message-error {
            color: red;
        }
    }
}