.btn {
  border-radius: 7px;
  height: auto;
  cursor: pointer;

  &--small {
    width: 70px;
    font-size: medium;
    padding: 6px;
  }

  &--medium {
    width: 60%;
    font-size: x-large;
    padding: auto;
  }

  &--primary {
    background: var(--main);
    border: 2px solid var(--main);
    color: #fff;
  }

  &--secondary {
    background: #fff;
    border: 2px solid var(--main);
    color: var(--main);
  }

  &--circular {
    display: flex;
    border-radius: 50%;
    background-color: var(--main);
    width: fit-content;
    border: none;
    padding: 0;
    // height: fit-content;
  }
}
